@media screen and (max-width:1050px) {
    .deck {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .global-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .box-card {
        border: 7px solid rgb(255, 255, 255, 0.2);
        padding: 10px;
    }

    .main-accueil {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        flex-direction: column;
    }

    .card {
        width: 81px;
        height: 109px;
        background-color: white;
        border: 3px solid #FFCB05;
        border-radius: 6px;
    }

    .viewPrincipal {
        order: 1;
    }

    .deck {
        order: 2;
    }
}